.App {
    text-align: center;
}
.slide{
    height:150px;
    /* border:1px solid black; */
}
.slider{
    margin-left: 2px;
}
.slider div{
    margin-right: 2px;
    color:white;
    margin-top: 0.2px;
}
.box{
    background-size: cover;
    height:75px;
    width:100%;
    background-repeat: no-repeat;
    /* border: 1px solid black; */
}
.multi{
    display: flex;
    flex-direction: column;
}
.img{
    /* background-image: url(./media/trial.JPG); */
    background-size: contain;
    background-repeat: no-repeat;
    background-color: aquamarine;
}