.App {
    text-align: center;
}
.slide{
    height:150px;
    /* border:1px solid black; */
}
.slider{
    margin-left: 2px;
}
.slider div{
    margin-right: 2px;
    color:white;
    margin-top: 0.2px;
}
.box{
    background-size: cover;
    height:75px;
    width:100%;
    background-repeat: no-repeat;
    /* border: 1px solid black; */
}
.multi{
    display: flex;
    flex-direction: column;
}
.img{
    /* background-image: url(./media/trial.JPG); */
    background-size: contain;
    background-repeat: no-repeat;
    background-color: aquamarine;
}
.img :hover{
    background-color: blanchedalmond;
    transform: scale(1.1);
}
#juggle{
    /* border:1px black solid; */
    position: relative;
    top:-20px;
}
#football{
    animation: moveBall 2s ease infinite;
}
@keyframes moveBall{
    0%{
        transform:translateY(0px); 
    }
    50%{
        transform:translateY(-200px);
    }
    100%{
        transform:translateY(0px);
    } 
}
#left-leg{
    transform-origin: 540px 270px;
    animation: moveLeg 2s ease infinite;
}
#left-hand{
    transform-origin: 550px 140px;
    animation: moveHand 2s ease infinite;
}
#right-hand{
    transform-origin: 550px 100px;
    animation: moveHand 2s ease infinite alternate-reverse;
}
#shadow{
    animation: shadow 2s ease infinite;
}
@keyframes shadow{
    0%{
        opacity: 0.4;
    }
    50%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 0.4;
    }
}
@keyframes moveHand{
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(10deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}
@keyframes moveLeg{
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(30deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}